boto3==1.43.108
botocore==1.43.108
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cryptography==50.0.2
docker==7.2.0
duckdb==1.5.6
idna==3.20
jmespath==1.1.0
MarkupSafe==3.0.4
moto==5.2.3
numpy==2.4.6
pandas==3.0.6
py-partiql-parser==0.6.3
pyarrow==25.0.1
pycparser==3.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
responses==0.26.3
s3transfer==0.19.2
six==1.17.0
urllib3==2.8.0
Werkzeug==3.1.9
xmltodict==1.0.4
